:root {
  /* --green: #2ECC71; */
  --light: #efefef;
  --A-color: darkorange;
  --B-color: dodgerblue;
  --both-color: olivedrab;
  --neither-color: firebrick; 
}

.radio-input:checked + .radio-label {
  color: var(--light);
}

.A:checked + .radio-label{
  background: var(--A-color);
}

.B:checked + .radio-label{
  background: var(--B-color);
}

.both:checked + .radio-label{
  background: var(--both-color);
}

.neither:checked + .radio-label{
  background: var(--neither-color);
}


.form-group{
  width: 100%;
}

#submitbutton{
  float: right;
  margin-top: 10px;
  font-size: 1.15em;
  padding-left: 20px;
  padding-right: 20px;
}

.radio-label{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid rgb(100, 100, 100);;
  width: 25%;
  margin: 0;
  float: left;
  margin-bottom: 30px;
  padding: 10px;
}

.radio-label div{
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio-input{
  display:none
}   

.selected{
  background: #2b2b2b;
  color: white;
  border: 1px solid #2b2b2b;
}

.question{
  width: 100%;
  float: left;
  margin-bottom: 10px;
}

.buttons-wrapper{
  display: flex
}

.screen img{
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .radio-label div{
    height: 70px;
  }
}



@media only screen and (min-width: 1200px) {
  .screen {
    width: 49.5%;
    float: left;
  }

  .center{
    width: 70%;
    margin-left: 15%;
  }

  #screenA {
    margin-right: 1%;
  }
}

@media only screen and (min-width: 1650px) {
  .screen {
    width: 49.5%;
    float: left;  
  }

  .center{
    width: 50%;
    margin-left: 25%;
  }

  #screenA {
    margin-right: 1%;
  }
}

.screen-text{
  position: absolute;
  z-index: 100;
  padding-left: 10px;
}

.letter{
  font-size: 1.5em;
}
/* 
.letter-subtext{
    font-size: 1.2em;
} */

form{
  font-size: 1.3em;
}

.A{
  color: var(--A-color);
}

.B{
  color: var(--B-color);
}

.warning-message{
  float: left;
  color: red;
  border: solid 2px red;
  width: 100%;
  padding: 1px;
  text-align: center;
}


#screenA{
  border: solid 2px var(--A-color);
}

#screenB{
  border: solid 2px var(--B-color)
}

.screen{
  margin-bottom: 10px;
}
