.center {
  margin: auto;
  width: 50%;
  border: 3px solid;
  padding: 10px;
  margin-bottom: 50px;
  height: 100%;
  float: left;
  margin-left: 25%;
}

label:hover{
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .center {
      width: 80%;
      margin-left: 10%;
  }
}

@media only screen and (max-width: 600px) {
  .center {
      width: 100%;
      margin-left: 0;
  }
}